* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box; }

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0; }

.header {
  position: relative; }
  .header .headerImg {
    width: 100%; }
  .header .headerImgMobile {
    display: none; }
  .header .headerLogo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%; }
  .header .headerShadow {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0, rgba(19, 19, 19, 0.5) 100%); }

@media only screen and (max-width: 450px) {
  .header .headerImg {
    display: none; }
  .header .headerImgMobile {
    display: block;
    width: 100%; }
  .header .headerLogo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%; }
  .header .headerShadow {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0, rgba(19, 19, 19, 0.5) 100%); } }
.searchBox {
  width: 30vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 30%;
  right: 15%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around; }
  .searchBox .searchBox-label {
    flex-basis: 45%;
    height: 30px;
    font-size: 1.4rem; }
  .searchBox .searchBox-date {
    flex-basis: 45%;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border: none;
    width: 20px; }
  .searchBox .Searchbox-space {
    flex-basis: 100%;
    height: 5%; }
  .searchBox .searchBox-guests {
    position: relative;
    flex-basis: 45%;
    height: 30px; }
    .searchBox .searchBox-guests h2 {
      width: 100%;
      height: 30px;
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      border: none;
      font-size: 1.5rem;
      text-align: center; }
    .searchBox .searchBox-guests img {
      cursor: pointer;
      height: 100%; }

.searchBox-left {
  transform: rotate(180deg);
  position: absolute;
  left: 0; }

.searchBox-right {
  position: absolute;
  right: 0;
  top: 0; }

label {
  margin-bottom: 0; }

@media only screen and (max-width: 450px) {
  .searchBox {
    width: 100vw;
    height: 40%;
    background-color: white;
    position: absolute;
    top: unset;
    right: unset;
    box-shadow: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    z-index: 50; }
    .searchBox .h3 {
      width: 100vw;
      background-color: white; }
    .searchBox .searchBox-label {
      flex-basis: 45%;
      height: 30px;
      font-size: 1.4rem; }
    .searchBox .searchBox-date {
      flex-basis: 45%;
      height: 30px;
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      border: none;
      width: 20px; }
    .searchBox .Searchbox-space {
      flex-basis: 100%;
      height: 10%; }
    .searchBox .searchBox-guests {
      position: relative;
      flex-basis: 45%;
      height: 30px; }
      .searchBox .searchBox-guests h2 {
        width: 100%;
        height: 30px;
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        border: none;
        font-size: 1.5rem;
        text-align: center; }
      .searchBox .searchBox-guests img {
        cursor: pointer;
        height: 100%; } }
.resultsPageContainer {
  width: 100%;
  height: 100vh; }

nav {
  height: 10vh; }

.nav-guests {
  position: relative;
  flex-basis: 45%;
  height: 30px; }
  .nav-guests h2 {
    width: 100%;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1.5rem;
    text-align: center;
    color: black; }
  .nav-guests img {
    cursor: pointer;
    height: 100%; }

.nav-search {
  width: 100%; }

.navbar-brand {
  width: 250px; }

.resultsContainer {
  float: left;
  width: 50%;
  height: 90vh;
  margin: 0;
  position: fixed;
  left: 0;
  display: flex; }

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

#resultsSwiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px; }

.card-img-top {
  border-bottom: 3px solid black; }

.cardDetails {
  text-align: center; }
  .cardDetails img {
    width: 25px; }

.cardPrice {
  text-align: right;
  margin-right: 10px; }

.card {
  background-color: #E8E8E8;
  border: unset;
  width: 34% !important;
  cursor: pointer;
  margin: 2.5% 0; }

.card:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  background-color: white; }

.card-body {
  padding: 0; }
  .card-body h3 {
    font-size: 1.6rem; }

.mapContainer {
  position: fixed;
  right: 0;
  width: 50%;
  height: 90vh;
  margin: 0; }

#map {
  width: 95%;
  height: 95%;
  margin: 2.5%; }

@media only screen and (max-width: 450px) {
  nav {
    height: unset; }

  .navbar-brand {
    width: unset;
    height: 9vh; }

  .mapContainer {
    width: 100%;
    height: 40vh;
    margin: 0; }

  #map {
    width: 95%;
    height: 95%;
    margin: 2.5%; }

  .resultsContainer {
    width: 100%;
    height: 40vh;
    margin: 0;
    position: fixed;
    left: 0;
    top: 60%;
    display: flex; }

  .card {
    background-color: #E8E8E8;
    border: unset;
    width: 80% !important;
    cursor: pointer;
    margin: 2.5% 0; } }
.myModal {
  position: absolute;
  width: 48%;
  height: 88%;
  top: 11%;
  left: 1%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 50;
  background-color: white; }
  .myModal .modalClose {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 3rem;
    line-height: 50%;
    z-index: 100; }
  .myModal .modalName {
    width: 100%;
    position: absolute;
    top: 32%;
    z-index: 100; }
    .myModal .modalName h3 {
      text-align: center;
      font-size: 2rem;
      color: white;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); }
  .myModal .modalPara {
    width: 95%;
    margin: 2.5%;
    line-height: normal; }
  .myModal .modalFood {
    float: left;
    width: 65%;
    height: 35%;
    margin: 2.5%;
    line-height: 2em; }
    .myModal .modalFood h3 {
      font-size: 1.2em; }
    .myModal .modalFood img {
      height: 1.2em; }
  .myModal .modalDetails {
    float: left;
    width: 25%;
    margin: 2.5%;
    text-align: right; }
    .myModal .modalDetails img {
      height: 1.2em; }
  .myModal .modalBook {
    position: absolute;
    bottom: 10px;
    left: 10px; }

.swiper-container {
  width: 95%;
  height: 35%;
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0; }

.swiperImg {
  width: 100%; }

.swiper-button-next, .swiper-button-prev {
  color: rgba(255, 255, 255, 0.8);
  font-size: unset; }

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: unset; }

@media only screen and (max-width: 450px) {
  .myModal {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 50;
    background-color: white; }
    .myModal .modalClose {
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      font-size: 3rem;
      line-height: 50%;
      z-index: 100; }
    .myModal .modalName {
      width: 100%;
      position: absolute;
      top: 32%;
      z-index: 100; }
      .myModal .modalName h3 {
        text-align: center;
        font-size: 2rem;
        color: white; }
    .myModal .modalPara {
      width: 95%;
      margin: 2.5%;
      line-height: normal; }
    .myModal .modalFood {
      float: left;
      width: 65%;
      height: 35%;
      margin: 2.5%;
      line-height: 2em; }
      .myModal .modalFood h3 {
        font-size: 1.2em; }
      .myModal .modalFood img {
        height: 1.2em; }
    .myModal .modalDetails {
      float: left;
      width: 25%;
      margin: 2.5%;
      text-align: right; }
      .myModal .modalDetails img {
        height: 1.2em; }
    .myModal .modalBook {
      position: absolute;
      bottom: 10px;
      left: 10px; } }
* {
  font-family: geneva, sans-serif; }

.landingPage {
  width: 100%;
  height: 100vh; }

.backLink {
  position: absolute;
  bottom: 10px;
  left: 10px; }

h3 {
  font-family: 'Bebas Neue', sans-serif; }

.errorMessage {
  background-color: #FEBFBF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 28vw;
  padding: 1vw;
  top: 57vh;
  right: 16vw;
  z-index: 200;
  text-align: center;
  display: none; }
  .errorMessage h2 {
    font-size: 1.4rem; }

.errorMessage-outer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none; }

@media only screen and (max-width: 450px) {
  .errorMessage {
    width: 90vw;
    padding: 2vw;
    top: 57vh;
    right: 5vw; } }

/*# sourceMappingURL=style.css.map */
