.resultsPageContainer {
  width: 100%;
  height: 100vh;
}

nav {
  height: 10vh;
}

.navbar-brand {
  width: 250px;
}

.resultsContainer {
  float: left;
  width: 50%;
  height: 90vh;
  margin: 0;
  position: fixed;
  left: 0;
  display: flex;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#resultsSwiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      font-size: 18px;
      height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px;
    }

.card-img-top {
  border-bottom: 3px solid black;
}

.cardDetails {
  text-align: center;

  img {
    width: 25px;
  }

}

.cardPrice {
  text-align: right;
  margin-right: 10px;
}

.card {
  background-color: unset;
  border: unset;
  width: 34% !important;
  cursor: pointer;
  margin: 2.5% 0;
}

.card:hover{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.card-body {
  padding: 0;

  h3 {
    font-size: 1.6rem;
  }

}

// MAP CONTAINER
.mapContainer {
  position: fixed;
  right: 0;
  width: 50%;
  height: 90vh;
  margin: 0;
}

#map{
  width: 95%;
  height: 95%;
  margin: 2.5%;
}



@media only screen and (max-width: 450px) {

  nav {
    height: unset;
  }

  .navbar-brand {
    width: unset;
    height: 9vh;
  }

  .mapContainer {
    width: 100%;
    height: 40vh;
    margin: 0;
  }

  #map{
    width: 95%;
    height: 95%;
    margin: 2.5%;
  }

  .resultsContainer {
    width: 100%;
    height: 40vh;
    margin: 0;
    position: fixed;
    left: 0;
    top: 60%;
    display: flex;
  }
}
