.resultsPageContainer {
  width: 100%;
  height: 100vh;
}

nav {
  height: 10vh;
}

.navbar-brand {
  width: 250px;
}


.resultsContainer {
  float: left;
  width: 50%;
  height: 90vh;
  margin: 0;
  position: relative;
  display: flex;
}

.mapContainer {
  float: right;
  width: 50%;
  height: 90vh;
  border: 3px solid yellow;
  margin: 0;
}

.cardDetails {
  text-align: center;
}

.cardPrice {
  text-align: right;
}

.card {
  background-color: unset;
  border: unset;
  width: 34% !important; 
}

.card-body {
  padding: 0;
}
