.resultsPageContainer {
  width: 100%;
  height: 100vh;
}

nav {
  height: 10vh;
}

.navbar-brand {
  width: 250px;
}

.resultsContainer {
  float: left;
  width: 50%;
  height: 90vh;
  margin: 0;
  position: relative;
  display: flex;
}

.card-img-top {
  border-bottom: 3px solid black;
}

.cardDetails {
  text-align: center;

  img {
    width: 25px;
  }

}

.cardPrice {
  text-align: right;
}

.card {
  background-color: unset;
  border: unset;
  width: 34% !important;

}

.card-body {
  padding: 0;
}

// MAP CONTAINER
.mapContainer {
  float: right;
  width: 50%;
  height: 90vh;
  margin: 0;
}

#map{
  width: 95%;
  height: 95%;
  margin: 2.5%;
}
