.searchBox {
  width: 30vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 30%;
  right: 15%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;

  .searchBox-label{
    flex-basis: 45%;
    height: 30px;
    font-size: 1.4rem;
  }

  .searchBox-date {
    flex-basis: 45%;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border: none;
    width: 20px;
  }

  .Searchbox-space {
    flex-basis: 100%;
    height: 5%;
  }

  .searchBox-guests {
    position: relative;
    flex-basis: 45%;
    height: 30px;

    h2 {
      width: 100%;
      height: 30px;
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      border: none;
      font-size: 1.5rem;
      text-align: center;
    }

    img{
      cursor: pointer;
      height: 100%;
    }

  } // searchBox-guests ends here
} //SearchBox ends here

.searchBox-left{
  transform: rotate(180deg);
  position: absolute;
  left: 0;
}
.searchBox-right{
  position: absolute;
  right: 0;
  top: 0;
}


label {
  margin-bottom: 0;
}

@media only screen and (max-width: 450px) {
  .searchBox {
    width: 100vw;
    height: 40%;
    background-color: white;
    position: absolute;
    top: unset;
    right: unset;
    box-shadow: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    z-index: 50;

    .h3 {
      width: 100vw;
      background-color: white;
    }

    .searchBox-label{
      flex-basis: 45%;
      height: 30px;
      font-size: 1.4rem;
    }

    .searchBox-date {
      flex-basis: 45%;
      height: 30px;
      background-color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      border: none;
      width: 20px;
    }

    .Searchbox-space {
      flex-basis: 100%;
      height: 10%;
    }

    .searchBox-guests {
      position: relative;
      flex-basis: 45%;
      height: 30px;

      h2 {
        width: 100%;
        height: 30px;
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        border: none;
        font-size: 1.5rem;
        text-align: center;
      }

      img{
        cursor: pointer;
        height: 100%;
      }

    } // searchBox-guests ends here
  } //SearchBox ends here
}
