@import "reset";
@import "variables";
@import "functions";
@import "mixins";
@import "header";
@import "searchBox";

*{
  font-family: geneva;
}


.backLink {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.resultContainer {
  position: absolute;
  top: 100vh;
  width: 100%;
}
