@import "reset";
@import "variables";
@import "functions";
@import "mixins";




.header {
  position: relative;
  .headerImg {
    width: 100vw;
  }
  .headerLogo {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
  }
}
