@import "reset";
@import "variables";
@import "functions";
@import "mixins";
@import "header";
@import "searchBox";

*{
  font-family: geneva;
}

.landingPage{
  width: 100%;
  height: 100vh;
}

.backLink {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

// .resultContainer {
//   position: absolute;
//   top: 100vh;
//   width: 100%;
// }

.navbar-brand {
  width: 300px;
}

nav {
  background-color: black;
}
