@import "reset";
@import "variables";
@import "functions";
@import "mixins";
@import "header";
@import "searchBox";
@import "resultsPage";
@import "modal";

*{
  font-family: geneva, sans-serif;
}

.landingPage{
  width: 100%;
  height: 100vh;
}

.backLink {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


h3 {
  font-family: 'Bebas Neue', sans-serif;
}
